.country.tab {
  min-height: 140px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}

.info.block {
  /* margin-right: 1rem; */
  text-align: right;
}

.info.block h3 {
  font-family: var(--title-font);
  font-size: 10px;
  margin-bottom: 0;
}

.info.block p {
  font-size: 10px;
  margin-top: 0;
}

.search-bar {
  display: flex;
  width: 70vw;
  margin: 0 auto 1rem auto;
}

.search {
  border: 2px solid var(--font-color);
  background-color: rgba(0, 255, 8, 0.2);
}

.input {
  border-radius: 5px 0 0 5px;
  border-right: none;
  padding: 0.2rem 0.5rem;
  flex-grow: 1;
}

.btn {
  border-radius: 0 5px 5px 0;
}
