.heading {
  position: relative;
  padding: 1.2rem;
}

.div-bg.light {
  background-color: rgba(255, 255, 255, 0.1);
}

.tabs.spin-b4 {
  min-height: 150px;
  justify-content: center;
}

.countries a:nth-child(2n) {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both;
}

.countries a:nth-child(2n+1) {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-right both;
}

.country.tab {
  min-height: 140px;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  padding: 1rem;
}

.country.tab h2 {
  margin: 0;
}

.info.block {
  text-align: right;
}

.info.block h3 {
  font-family: var(--title-font);
  font-size: 10px;
  margin-bottom: 0;
}

.info.block p {
  font-size: 10px;
  margin-top: 0;
}

.search-bar {
  display: flex;
  width: 70vw;
  margin: auto;
}

.search {
  border: 2px solid var(--font-color);
  background-color: rgba(0, 255, 8, 0.2);
}

.input {
  border-radius: 5px 0 0 5px;
  border-right: none;
  padding: 0.2rem 0.5rem;
  flex-grow: 1;
}

.btn {
  border-radius: 0 5px 5px 0;
}
