.country.tab {
  min-height: 140px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}

.info.block {
  /* margin-right: 1rem; */
  text-align: right;
}

.info.block h3 {
  font-family: var(--title-font);
  font-size: 10px;
  margin-bottom: 0;
}

.info.block p {
  font-size: 10px;
  margin-top: 0;
}
