.details .bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100vw;
}

.details .bar:nth-child(even) .div-bg {
  opacity: 0.3;
}

.details .bar:nth-child(odd) .div-bg {
  opacity: 0.2;
}
