.progress {
  margin: 50px auto;
  padding: 2px;
  width: 100%;
  --percent: 50%;
  /* max-width: 500px; */
  border: 1px solid #05e35e;
  height: 10px;
}

.progress .progress__bar {
  height: 100%;
  width: var(--percent);
  background-color: #05e35e;
  animation: fill-bar 3s infinite;
}

@keyframes fill-bar {
  from {width: 0%;}
  to {width: var(--percent);}
}