.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50px;
}

header button {
  margin: 1rem;
  cursor: pointer;
  background: transparent;
  color: var(--font-color);
  border: none;
  font-weight: bold;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: var(--title-font);
}