.App {
  text-align: center;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: var(--title-font);
}

@keyframes wipe-in-right {
  from {
    clip-path: inset(0 100% 0 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes wipe-in-left {
  from {
    clip-path: inset(0 0 0 100%);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}
