body {
  --theme: #109201;
  --font-color: #fdfddb;
  --title-font: 'Duru Sans', sans-serif;

  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme);
}

* {
  color: var(--font-color);
  box-sizing: border-box;
}
